@charset "UTF-8";

main {
    margin: 30px;
}
main fieldset {
    height: 200px;
}
main fieldset input {
    height: 30px;
    margin: 10px;
}
main fieldset textarea {
    height: 70px;
    width: 60%;
    margin: 10px;
    resize: none;
}
main fieldset button {
    margin: 0px 0px 10px 10px;
    height: 25px;
    width: 50px;
}
